.content {
  width: 100%
}

.wrapper {
 display: grid;
 align-items: center;

 @media screen and (min-width: 780px) {
  grid-template-columns: auto auto auto;
 }
}

.col {
  display: grid;
  margin: 0 auto;
  color: #fff;
  align-items: center;

  @media screen and (min-width: 780px) {
   grid-template-columns: auto auto auto;
  }

}

.layout-text,
.layout-body {
 background: gray;
}

.layout-text {

}

.layout-body {

}

.hide {
  display: none;
}
