.placeholderContainer {
 margin: 0 25px;
}

.contentWrapper {
  height: 236px;
  background-color: white;
}

.placeholder {
  height: 25px;
  background-color: #eee;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  max-width: 80px;
}

.placeholderBody {
  height: 25px;
  background-color: #eee;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
}


@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

.animatedBackground {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: darkgray;
  background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 100px;
  position: relative;
}

@media screen and (max-width: 1024px) {}
